<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <!-- 开启驼峰命名规则 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!-- 别名 -->
    <typeAliases>
        <package name="com.hercats.dev.commonbase.model"/>
    </typeAliases>

    <!--&lt;!&ndash; 引入分页插件pageHelper &ndash;&gt;-->
    <!--<plugins>-->
        <!--&lt;!&ndash; com.github.pagehelper为PageHelper类所在包名 &ndash;&gt;-->
        <!--<plugin interceptor="com.github.pagehelper.PageInterceptor">-->
            <!--&lt;!&ndash; 分页合理化，pn<1时默认使pn=1,pn>max时，pn=max &ndash;&gt;-->
            <!--<property name="reasonable" value="true"/>-->
        <!--</plugin>-->
    <!--</plugins>-->


</configuration>